<?xml version="1.0"?>
<!--
/**
 * @category  Sigma
 * @package   Sigma_BannerSliderGraphQl
 * @author    SigmaInfo Team
 * @copyright 2021 Sigma (https://www.sigmainfo.net/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Mageplaza\BannerSlider\Controller\Adminhtml\Banner\Save" type="Sigma\BannerSliderGraphQl\Controller\Adminhtml\Banner\Save"/>
</config>