<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <awb_method>
                <model>WebGate\SMSAShipping\Model\Carrier\AwbMethod</model>
                <active>0</active>
                <title>awb_method</title>
                <name>awb_method</name>
                <price>0.00</price>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <sallowspecific>0</sallowspecific>
            </awb_method>
        </carriers>
        <WebGate>
            <SMSAShipping>
                <api_url>https://track.smsaexpress.com/secom/smsawebservice.asmx?WSDL</api_url>
            </SMSAShipping>
        </WebGate>
    </default>
</config>
