<?xml version="1.0"?>
<!--
/**
 * @category  Sigma
 * @package   Sigma_StoreConfigGraphQl
 * @author    SigmaInfo Team
 * @copyright 2021 Sigma (https://www.sigmainfo.net/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="sigma" frontName="sigma">
            <module name="Sigma_StoreConfigGraphQl" />
        </route>
    </router>
</config>
