<?xml version="1.0"?>
<!--
/**
 * @category  Sigma
 * @package   Sigma_StoreConfigGraphQl
 * @author    SigmaInfo Team
 * @copyright 2021 Sigma (https://www.sigmainfo.net/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="sigma" translate="label" sortOrder="9999">
            <label>Sigma Extensions</label>
        </tab>
        <section id="global_config" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Global Configuration</label>
            <tab>sigma</tab>
            <resource>Sigma_StoreConfigGraphQl::module_config</resource>
            <group id="whatsapp_config" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>WhatsApp Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable WhatsApp Chat</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="whatsapp_number" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>WhatsApp Number</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="message" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Message</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>

            <group id="live_chat" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Live Chat Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Live Chat</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="widget_script" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Embed Live Chat Widget Script</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>

            <group id="product_details_banner" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Product Details Page Banner Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="banner_image" translate="label" type="Magento\Config\Block\System\Config\Form\Field\File" sortOrder="20" showInDefault="1" showInWebsite="1" >
                    <label>Upload Banner Image (EN)</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir config="system" scope_info="1">banner</upload_dir>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="banner_image_ar" translate="label" type="Magento\Config\Block\System\Config\Form\Field\File" sortOrder="21" showInDefault="1" showInWebsite="1" >
                    <label>Upload Banner Image (AR)</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir config="system" scope_info="1">banner</upload_dir>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="url_key" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Page URL</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="zip_code_checker" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Zip Code Checker Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Zipcode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="zipcodes" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enter valid Zip Codes with comma seperated</label>
                    <comment>for eg. 12211,12212</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>

            <group id="sms_country_code" translate="label tooltip" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Vnecoms SMS Country Code Configuration</label>
                <field id="phone_code" translate="label" type="text" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Country Code</label>
                    <comment>for eg. +966,+91</comment>
                </field>
            </group>
        </section>
    </system>
</config>
