<!--@subjectCareers - New Application from {{var name}} @-->

{{template config_path="design/email/header_template"}}
<h3>We have new application from Careers page</h3>
<br/>
<table>
    <tr class="email-intro">
        <td>{{trans "Name:"}}</td>
        <td>{{var name}}</td>
    </tr>
    <tr class="email-intro">
        <td>{{trans "Email:"}}</td>
        <td>{{var email}}</td>
    </tr>
    <tr class="email-intro">
        <td>{{trans "Mobile:"}} </td>
        <td>{{var mobile}}</td>
    </tr>
    <tr class="email-intro">
        <td>{{trans "Specialization:"}}</td>
        <td>{{var specialization}}</td>
    </tr>
    <tr class="email-intro">
        <td>{{trans "CV:"}}</td>
        <td><a href={{var cvUrl}}>{{var cvName}}</a></td>
    </tr>
 </table>

{{template config_path="design/email/footer_template"}}
