<?xml version="1.0" ?>
<!--
/**
 * @category  Sigma
 * @package   Sigma_ProductsAdditionalDataGraphQl
 * @author    SigmaInfo Team
 * @copyright 2021 Sigma (https://www.sigmainfo.net/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="Sigma_ProductsAdditionalDataGraphQl" setup_version="1.0.0" />
</config>
