<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Mirasvit\Helpdesk\Helper\Storeview" type="Sigma\MirasvitHelpdesk\Helper\Storeview" />
	<type name="Mirasvit\HelpdeskGraphQl\Service\BuildTicketOutput">
        <plugin name="add_order_data"
                type="Sigma\MirasvitHelpdesk\Plugin\AppendOrderDataBuildTicketOutput"/>
    </type>
</config>
